.fa-solid.fa-gear {
  font-size: 1.7em;
}

.wd-post-summary-img {
  width: 100px;
  height: 100px;
}

.wd-logo {
  width: 48px;
  height: 48px;
}

.wd-userName, .wd-title, .wd-userName:hover, .wd-title:hover {
  text-decoration: none;
  color: inherit;
}