.fa-solid.fa-gear {
  font-size: 1.7em;
}

.wd-main-img {
  width: 100%;
}

.wd-tweet-img {
  width: 100px;
  height: 100px;
}

.wd-logo {
  width: 48px;
  height: 48px;
}

.wd-link {
  text-decoration: none;
  color: black;
}